table {
    font-size: 10pt;
    font-family: "Tahoma";
    line-height: 12.5pt;
}

tr.no-space-row {
  margin: 0;
  padding: 0;
}

tr.no-space-row  td{
  margin: 0;
  padding: 0;
}

.address {
  font-family: "Verdana",sans-serif;
}

td {
    vertical-align: top;
    text-align: left;
}

tr {
    padding: 0 0 4px 0;
}

@page {
    size: "A4";
    margin: 2cm;
}

td.left {
    width: 100px;
}

td.right{
    width: 550px;
}

.empty-row {
    height: 1px;
    padding: 0;
    margin: 0;
}

p {
    margin: 2px 0px;
}

/*li {*/
    /*margin: 1px 2px;*/
    /*padding: 5px;*/
/*}*/